@font-face {
  font-family: 'BigCaslon';
  src: url('../fonts/BigCaslonMedium.eot'); /* IE9 Compat Modes */
  src: url('../fonts/BigCaslonMedium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/BigCaslonMedium.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/BigCaslonMedium.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/BigCaslonMedium.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/BigCaslonMedium.svg#svgBigCaslonMedium') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'Ginger';
  src: url('../fonts/Ginger-Regular.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Ginger-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Ginger-Regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/Ginger-Regular.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/Ginger-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/Ginger-Regular.svg#Ginger-Regular') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'GingerItalic';
  src: url('../fonts/Ginger-Italic.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Ginger-Italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Ginger-Italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/Ginger-Italic.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/Ginger-Italic.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/Ginger-Italic.svg#Ginger-Italic') format('svg'); /* Legacy iOS */
}

:root {
  /* Palette */
  --color-black: #2b2c2a;
  --color-border: rgba(43, 44, 42, 0.2);
  --color-white: #fdfaf8;
  --color-whiteRock: #efeee0;

  /* Transition */
  --easing: cubic-bezier(.33, 1, .68, 1);
  --timing: 400ms;
  --transition: var(--timing) var(--easing);

  /* Type */
  --font-serif: 'BigCaslon';
  --font-sans: 'Ginger';
  --font-sans-italic: 'GingerItalic';

  /* Breakpoint */
  --screen-s: "(min-width: 768px)";
  --screen-m: "(min-width: 1024px)";
  --screen-l: "(min-width: 1200px)";
  --screen-xl: "(min-width: 1600px)";
}


html {
  background: var(--color-whiteRock);
  color: var(--color-black);
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.5;
  scroll-behavior: smooth;
  height: -webkit-fill-available;
  -webkit-tap-highlight-color: var(--color-black);
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden !important;
  font-family: var(--font-serif);
  min-width: 320px;
}

body {
  min-height: 100%;
  height: auto;
  margin: 2rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-serif);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
blockquote,
figure,
b {
  margin: 0;
  padding: 0;
  font-weight: 400;
}

p {
  line-height: 1.85;
}

img,
svg {
  vertical-align: bottom;
  max-width: 100%;
}

a {
  color: currentColor;
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

main {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

.Form__Description {
  font-family: var(--font-sans-italic);
  font-size: 14px;
  text-align: center;
  display: block;
  width: 100%;
}

.Form__Field,
.Form__FieldLabel {
  position: relative;
}

.Form fieldset {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 1.5rem;
  overflow: hidden;
  border: 0;
  margin: 2rem 0;
  padding: 2rem 0;
}

@media screen and (min-width: 768px) {
  .Form fieldset {
    padding: 0.75rem;
  }
}

.Form__Field {
  display: grid;
  grid-column: span 6;
}


.Form__Field.Form__Field--Full {
  grid-column: span 12;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.Form__FieldTitle {
  font-family: var(--font-sans);
  font-size: 14px;
}

.Form__FieldTitle:not(.Form__FieldTitle--Fixed) {
  display: block;
  width: 100%;
}

.Form__FieldTitle--Fixed {
  width: calc(100% - 0.65em - 6px);
  padding-left: 6px;
  margin-top: -6px;
}

@media screen and (min-width: 768px) {
  .Form__FieldTitle--Fixed {
    margin-left: 0.75rem;
    margin-top: 0;
    width: auto;
    padding-left: 0;
  }
}

.Form__FieldLabel[for="attending"],
.Form__FieldLabel[for="not_attending"] {
  width: calc(50% - 1rem);
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.Form__FieldLabel[for="song"] {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .Form__FieldLabel[for="attending"],
  .Form__FieldLabel[for="not_attending"] {
    display: flex;
    width: 50%;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
  }
}

@media screen and (min-width: 768px) {
  .Form__FieldLabel[for="attending"],
  .Form__FieldLabel[for="not_attending"] {
    align-items: center;
  }
  .Form__FieldInput[name="not_attending"] {
    margin-left: 0.75rem;
  }
}

input:not([type="radio"]),
textarea {
  border: 1px solid var(--color-black);
  background: var(--color-white);
  border-radius: 5px;
  padding: 0.8rem 1rem;
  color: var(--color-black);
  outline: 1px solid transparent;
  display: block;
  width: calc(100% - 2rem - 2px);
  transition: outline var(--transition);
}

input[type="submit"] {
  width: 100%;
  background: var(--color-black);
  color: var(--color-whiteRock);
  transition: all var(--transition);
  font-family: var(--font-sans);
  letter-spacing: .125rem;
}

input[type="submit"]:hover {
  background: var(--color-whiteRock);
  color: var(--color-black);
}

textarea {
  min-height: 150px;
  white-space: normal;
  text-align: start;
  -moz-text-align-last: start; /* Firefox 12+ */
  text-align-last: start;
  vertical-align: top;
  resize: none;
}

input:focus,
input:hover,
textarea:hover,
textarea:focus {
  outline: 1px solid var(--color-black);
}

input[type="radio"] {
  appearance: none;
  background-color: var(--color-whiteRock);
  margin: 0;
  padding: 0;
  color: var(--color-black);
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid var(--color-black);
  border-radius: 50%;
  transform: translateY(-0.075em);
  display: grid;
  place-content: center;
}

input[type="radio"]:focus {
  outline: none;
}

input[type="radio"]::before {
  content: "";
  width: 0.66em;
  height: 0.66em;
  border-radius: 50%;
  transform: scale(0);
  transition: transform var(--transition);
  box-shadow: inset 1em 1em var(--color-black);
}

input[type="radio"]:checked::before {
  transform: scale(1);
}

.Header__Subtitle {
  text-transform: uppercase;
  letter-spacing: .125rem;
  font-family: var(--font-sans);
  font-size: 10px;
  text-align: center;
}

.Header__Title {
  font-size: 8vw;
  text-align: center;
}

.Image {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;
}

.Image img {
  width: 100%;
  margin: 0 auto;
  max-width: 500px;
}

.Form__Field.Header__Title {
  margin-bottom: -0.5em;
}

@media screen and (min-width: 768px) {
  .Header__Title {
    font-size: 7vw;
  }
  .Header__Subtitle {
    font-size: 12px;
  }
  .Form__Field.Header__Title {
    margin-bottom: 0;
  }
}

.Header__Details {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 2rem;
  padding: 1rem 0 2.5rem;
  border-bottom: 1px solid var(--color-border);
}

.Header__Details > div {
  position: relative;
}

.Header__Details > div:after {
  content: '';
  height: 2rem;
  width: 1px;
  position: absolute;
  top: 144%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--color-border);
}

.Billboard {
  padding:  0 0 2rem;
  border-bottom: 1px solid var(--color-border);
}

.Billboard__Title {
  font-size: clamp(16px, 8vw, 60px);
  text-align: center;
}

.Billboard__Subtitle {
  font-family: var(--font-sans-italic);
  font-size: clamp(16px, 6vw, 36px);
  text-align: center;
}

.Billboard__Location {
  text-decoration: none;
  font-size: clamp(16px, 10vw, 36px);
  font-family: var(--font-serif);
  display: inline-block;
  width: 100%;
  text-align: center;
}
.Billboard__Description {
  font-family: var(--font-sans);
  text-align: center;
  font-size: 14px;
}

@media screen and (min-width: 768px) {
  .Billboard__Title {
    font-size: 7vw;
  }
  .Billboard__Subtitle {
    font-size: 6vw;
  }
  .Billboard__Location {
    font-size: clamp(16px, 7vw, 72px);
  }
}
