@font-face {
  font-family: 'BigCaslon';
  src: url('../fonts/BigCaslonMedium.eot'); /* IE9 Compat Modes */
  src: url('../fonts/BigCaslonMedium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/BigCaslonMedium.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/BigCaslonMedium.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/BigCaslonMedium.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/BigCaslonMedium.svg#svgBigCaslonMedium') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'Ginger';
  src: url('../fonts/Ginger-Regular.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Ginger-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Ginger-Regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/Ginger-Regular.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/Ginger-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/Ginger-Regular.svg#Ginger-Regular') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'GingerItalic';
  src: url('../fonts/Ginger-Italic.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Ginger-Italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Ginger-Italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/Ginger-Italic.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/Ginger-Italic.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/Ginger-Italic.svg#Ginger-Italic') format('svg'); /* Legacy iOS */
}

:root {
  /* Palette */
  --color-black: #2b2c2a;
  --color-borderDark: rgba(43, 44, 42, 0.2);
  --color-borderLight: rgba(239, 238, 224, 0.2);
  --color-white: #fdfaf8;
  --color-whiteRock: #efeee0;

  --foreground: var(--color-black);
  --background: var(--color-whiteRock);
  --borders: var(--color-borderDark);

  /* Transition */
  --easing: cubic-bezier(.33, 1, .68, 1);
  --timing: 400ms;
  --transition: var(--timing) var(--easing);

  /* Type */
  --font-serif: 'BigCaslon';
  --font-sans: 'Ginger';
  --font-sans-italic: 'GingerItalic';

  /* Breakpoint */
  --screen-s: "(min-width: 768px)";
  --screen-m: "(min-width: 1024px)";
  --screen-l: "(min-width: 1200px)";
  --screen-xl: "(min-width: 1600px)";
}

*,
*::before,
*::after {
  box-sizing: border-box;
  transition: color var(--transition), background var(--transition);
}

.hidden {
  display: none !important;
}

html {
  background: var(--background);
  color: var(--foreground);
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.5;
  scroll-behavior: smooth;
  height: -webkit-fill-available;
  -webkit-tap-highlight-color: var(--foreground);
  -webkit-font-smoothing: antialiased;
  font-family: var(--font-serif);
  min-width: 320px;
}

body {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-serif);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
blockquote,
figure,
b {
  margin: 0;
  padding: 0;
  font-weight: 400;
}

p {
  line-height: 1.85;
}

img,
svg {
  vertical-align: bottom;
  max-width: 100%;
}

a {
  color: currentColor;
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

main {
  width: 100%;
}

main > div {
  position: relative;
  margin: 0 auto;
  padding: 2rem 1.25rem;
  z-index: 1;
  overflow-x: hidden;
  background: var(--background);
}

@media screen and (min-width: 768px) {
  main > div {
    padding: 2rem;
  }
}

.App * {
  opacity: 0;
  will-change: opacity;
  transition: opacity var(--transition);
}

.App--Loaded * {
  opacity: 1 !important;
}

.Form__Description {
  font-family: var(--font-sans-italic);
  font-size: 14px;
  text-align: center;
  display: block;
  width: 100%;
  margin-top: 1rem;
}

.Form .Image {
  margin-top: 0;
  width: 100%;
}

.Form__Field,
.Form__FieldLabel {
  position: relative;
}

.Form fieldset {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 1.5rem;
  overflow: hidden;
  border: 0;
  margin: 0;
  padding: 2rem 0;
}

@media screen and (min-width: 768px) {
  .Form fieldset {
    padding: 0.75rem;
  }
}

.Form__Field {
  display: grid;
  grid-column: span 6;
}


.Form__Field.Form__Field--Full {
  grid-column: span 12;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.Form__Field.Form__Field--Full li {
  width: 100%;
  margin-bottom: 1.5rem;
}

.Form__Field.Form__Field--Full li:last-of-type {
  margin-bottom: 0;
}

.Form__Field.Form__Field--Add {
  align-items: end;
}

.Form__FieldTitle {
  font-family: var(--font-sans);
  font-size: 14px;
  margin-bottom: 0.5rem;
}

.Form__FieldTitle:not(.Form__FieldTitle--Fixed) {
  display: block;
  width: 100%;
}

.Form__FieldTitle--Fixed {
  width: calc(100% - 0.65em - 6px);
  padding-left: 6px;
  margin-top: -6px;
}

@media screen and (min-width: 768px) {
  .Form__FieldTitle--Fixed {
    margin-left: 0.75rem;
    margin-top: 0;
    width: auto;
    padding-left: 0;
  }
}

.Form__FieldLabel[for="attending"],
.Form__FieldLabel[for="not_attending"] {
  width: calc(50% - 1rem);
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.Form__FieldLabel[for="song"] {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .Form__FieldLabel[for="attending"],
  .Form__FieldLabel[for="not_attending"] {
    display: flex;
    width: 50%;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
  }
}

@media screen and (min-width: 768px) {
  .Form__FieldLabel[for="attending"],
  .Form__FieldLabel[for="not_attending"] {
    align-items: center;
  }
  .Form__FieldInput[name="not_attending"] {
    margin-left: 0.75rem;
  }
}

input:not([type="radio"]),
textarea {
  border: 1px solid var(--foreground);
  background: var(--color-white);
  border-radius: 5px;
  padding: 0.8rem 1rem;
  color: var(--color-black);
  outline: 1px solid transparent;
  display: block;
  width: 100%;
  transition: outline var(--transition);
}

input[type="submit"] {
  width: 100%;
  background: var(--foreground);
  color: var(--background);
  transition: all var(--transition);
  font-family: var(--font-sans);
  letter-spacing: .125rem;
  appearance: none;
}

input[type="submit"]:hover {
  background: var(--background);
  color: var(--foreground);
}

textarea {
  min-height: 150px;
  white-space: normal;
  font-size: 16px;
  text-align: start;
  -moz-text-align-last: start; /* Firefox 12+ */
  text-align-last: start;
  vertical-align: top;
  resize: none;
}

input:focus,
input:hover,
textarea:hover,
textarea:focus {
  outline: 1px solid var(--foreground);
}

input[type="radio"] {
  appearance: none;
  background-color: var(--background);
  margin: 0;
  padding: 0;
  color: var(--color-black);
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid var(--foreground);
  border-radius: 50%;
  transform: translateY(-0.075em);
  display: grid;
  place-content: center;
  outline: none;
}

input[type="radio"]:focus,
input[type="radio"]:hover {
  outline: none !important;
}

input[type="radio"]::before {
  content: "";
  width: 0.66em;
  height: 0.66em;
  border-radius: 50%;
  transform: scale(0);
  transition: transform var(--transition);
  box-shadow: inset 1em 1em var(--foreground);
}

input[type="radio"]:checked::before {
  transform: scale(1);
}

.Form__FieldInput.Form__FieldInput--Add {
  padding: 14px 0;
  background: var(--foreground);
  color: var(--background);
  border-radius: 5px;
  appearance: none;
  outline: none;
  box-shadow: none;
  border: 1px solid var(--foreground);
  transition: all var(--transition);
}

.Form__FieldInput.Form__FieldInput--Add:hover {
  background:var(--background);
  color: var(--foreground);
}

.Header__Subtitle {
  text-transform: uppercase;
  letter-spacing: .125rem;
  font-family: var(--font-sans);
  font-size: 10px;
  text-align: center;
}

.Header__Title {
  font-size: 8vw;
  text-align: center;
  max-width: 725px;
  margin: 0 auto;
}

.Image {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;
}

.Image img {
  width: 100%;
  margin: 0 auto;
  max-width: 500px;
}

.Form__Field.Header__Title {
  margin-bottom: -0.5em;
}

@media screen and (min-width: 768px) {
  .Header__Title {
    font-size: 7vw;
  }
  .Header__Subtitle {
    font-size: 12px;
  }
  .Form__Field.Header__Title {
    margin-bottom: 0;
  }
}

.Header__Details {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 2rem;
  padding: 1rem 0 2.5rem;
  border-bottom: 1px solid var(--borders);
}

.Header__Details > div {
  position: relative;
}

.Header__Details > div:after {
  content: '';
  height: 2rem;
  width: 1px;
  position: absolute;
  top: 144%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--borders);
}

.Billboard {
  padding:  0 0 2rem;
  border-bottom: 1px solid var(--borders);
}

.Billboard__Title {
  font-size: clamp(16px, 8vw, 60px);
  text-align: center;
}

.Billboard__Subtitle {
  font-family: var(--font-sans-italic);
  font-size: clamp(16px, 6vw, 36px);
  text-align: center;
}

.Billboard__Location {
  text-decoration: none;
  font-size: clamp(16px, 10vw, 36px);
  font-family: var(--font-serif);
  display: inline-block;
  width: 100%;
  text-align: center;
}
.Billboard__Description {
  font-family: var(--font-sans);
  text-align: center;
  font-size: 14px;
}

@media screen and (min-width: 768px) {
  .Billboard__Title {
    font-size: 7vw;
  }
  .Billboard__Subtitle {
    font-size: 6vw;
  }
  .Billboard__Location {
    font-size: clamp(16px, 7vw, 72px);
  }
}

.Thanks {
  padding: 2rem 0;
}

.Thanks__Title {
  font-size: 8vw;
  text-align: center;
  max-width: 725px;
  margin: 0 auto;
}

.Thanks__Details {
  font-family: var(--font-sans);
  font-size: 10px;
  text-align: center;
}

.Thanks__Details a {
  text-decoration: underline;
}

.Thanks__DetailsTitle {
  margin-bottom: 0.75rem;
}

@media screen and (min-width: 768px) {
  .Thanks__Title {
    font-size: 7vw;
  }
  .Thanks__Details {
    font-size: 12px;
  }
}

.Footer {
  width: 100%;
  padding: 2rem;
  background: var(--foreground);
  color: var(--background);
  position: sticky;
  bottom: 0;
  opacity: 0;
  transition-delay: 500ms;
}


.Footer h1 {
  font-size: clamp(16px, 10vw, 80px);
}

.Footer > div {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Location,
.Registry {
  display: flex;
  flex-flow: row wrap;
  align-items: stretch;
  border-bottom: 1px solid var(--borders);
  margin-bottom: 24px;
}

.Registry {
  margin-bottom: 0;
}

.Location__Info,
.Location .splide,
.Registry__Image,
.Registry__Info {
  width: 100%;
  color: var(--foreground);
}

@media screen and (min-width: 768px) {
  .Location,
  .Registry {
    flex-flow: row nowrap;
  }
  .Location__Info,
  .Location .splide {
    width: 50%;
  }
}

.square {
  aspect-ratio: auto 1 / 1;
}

.square img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.Location__InfoWrap,
.Registry__Info {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 16px 16px 24px;
}

.Location__InfoWrap a,
.Registry__Info h3 {
  font-family: var(--font-serif);
  font-size: clamp(16px, 8vw, 60px);
  text-align: center;
  text-decoration: none;
  color: var(--foreground);
}

.Location__InfoWrap > div,
.Registry__Info a,
.Registry__Info p {
  font-family: var(--font-sans);
  text-align: center;
  font-size: 14px;
  max-width: 370px;
  margin-bottom: 18px;
}

.Registry__Info a {
  text-decoration: underline;
}

.Location__InfoWrap small {
  font-family: var(--font-sans);
  text-align: center;
  font-size: 12px;
  width: 100%;
  display: block;
}

@media screen and (min-width: 768px) {
  .Location__InfoWrap a {
    font-size: 7vw;
  }
  .Location__InfoWrap > div {
    font-size: 18px;
    max-width: 300px;
  }
  .Location__InfoWrap small {
  }
  .Registry__Info {
    height: auto;
  }
}

.Parking {
  color: var(--foreground);
  font-family: var(--font-sans);
  margin-bottom: 24px;
}

.Parking h3 {
  font-size: clamp(16px, 8vw, 60px);
  font-family: var(--font-serif);
  text-align: center;
  margin-bottom: 24px;
}

.Parking p {
  font-size: 14px;
  text-align: center;
  width: 100%;
  display: block;
  max-width: 500px;
  margin: 0 auto;
  padding: 0 12px;
}

.Parking__Options {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: stretch;
  margin-top: 36px;
}

.Parking__Option {
  width: 50%;
  text-align: center;
  color: var(--foreground);
  padding: 36px 12px;
}

.Parking__Option:nth-of-type(odd) {
  border-right: 1px solid var(--borders);
  border-bottom: 1px solid var(--borders);
}

.Parking__Option:nth-of-type(even) {
  border-bottom: 1px solid var(--borders);
}

.Parking__Option .Parking__Title {
  font-family: var(--font-serif);
  font-size: 16px;
}

.Parking__Option small,
.Parking__Option address p {
  font-family: var(--font-sans);
  text-align: center;
  font-size: 10px;
  width: 100%;
  display: block;
}

.Parking__Option address {
  margin: 12px 0;
}

.Parking__Option .Parking__BtnWrap {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .Parking__Option address {
    margin: 6px;
  }
  .Parking__Option small,
  .Parking__Option address p {
    font-size: 10px;
  }
  .Parking p {
    padding: 0;
  }
  .Parking__Option .Parking__BtnWrap {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
  }
}

.Parking__Option .Parking__BtnWrap a {
  background: var(--foreground);
  color: var(--background);
  margin: 0 6px;
  padding: 10px 12px 11px;
  background: var(--foreground);
  color: var(--background);
  transition: all var(--transition);
  font-family: var(--font-sans);
  letter-spacing: .125rem;
  appearance: none;
  border: 1px solid var(--foreground);
  border-radius: 5px;
  width: 100%;
  font-size: 12px;
  margin: 6px 0;
}

.Parking__Option .Parking__BtnWrap a:last-of-type {
  margin-bottom: 0;
}

@media screen and (min-width: 768px) {
  .Parking__Option .Parking__BtnWrap a {
    width: auto;
    margin: 6px;
  }
  .Parking__Option .Parking__BtnWrap a {
    margin-bottom: 0;
  }
}


.Parking__Option .Parking__BtnWrap a:hover {
  background: var(--background);
  color: var(--foreground);
}

.Parking__Path {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  margin: 12px 0;
}

.Parking__Path:last-of-type {
  margin-bottom: 0;
}

@media screen and (min-width: 768px) {
  .Parking__Path {
    flex-flow: row nowrap;
  }

}

.Parking__Path img {
  width: 15px;
  height: 15px;
  display: inline-block;
}

.Parking__Path .start,
.Parking__Path .then,
.Parking__Path .transfer,
.Parking__Path .walk {
  margin-bottom: 4px;
}

.Parking__Path .start img {
  margin-right: 4px;
}

.Parking__Path .start img:last-of-type {
  margin-right: 0;
}

.Parking__Path .then,
.Parking__Path .transfer {
  margin-left: 4px;
}

.Parking__Path a {
  font-family: var(--font-sans-italic);
  color: var(--foreground);
  font-size: 10px;
  margin: 6px 0 0 6px;
}
